@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Inter:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}


body {
    color: #222;
    background-color:#FDF8F5 ;
}


/* Top Section */


.top-header {
 
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    background-color: #72243e;
    color: #FDF8F5;
 
}
 
.logo {
 
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 700px;
    opacity: .85;
 
}
 
.logo::before,
.logo::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #FDF8F5;
    opacity: 0.5;
}
 
.logo::before {
    margin-right: 48px;
}
 
.logo::after {
    margin-left: 48px;
}

/* Navbar */

nav {

    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    background-color: #C09BA5;
    color: #72243e;

}


nav a {

    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-size: 17px;

}


nav a:hover {

    color: #777;

}

/* Main Page */

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px 60px;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    margin: 40px 0 50px;
    color: #72243e;
}

